/*

        Authentication page

*/

.authPage {

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 75vh;


    form {
        width: min(35rem, 95%);
        padding: 2rem;
        border: 1px solid $secondary;
        h3 { margin-top: 0; }

        .formRedirection {
            margin: 0.7rem 0 0 0;
            font-size: 0.9rem;
        }
    }

}