/*
        Styling common to every type for field into a form. 
        V.P.R. - 23/10/22
*/

/* General form styling*/
.form-element {

        /*  
                Variables 
        */
        --horizontal-spacing: 0.75rem;
        --vertical-spacing: 0.75rem;
        --default-border: 0.1rem solid rgba(94, 94, 94, 0.13);
        --placeholder-color: #{$grey};

        //To prevent the h2 class from changing the size of the hole element
        line-height:1rem;

        position: relative;

        background-color:  $input-base-bg-color;
        border: var(--default-border);
        border-radius: 0.25rem;

        //To prevent the field from overflowing the container
        max-width: 100%;

        &.discrete-without-focus {
                //Make the element slimer
                --horizontal-spacing: 0.5rem;
                --vertical-spacing: 0.25rem;

                background-color: #45454540;
                border: 0.1rem solid rgba(0, 0, 0, 0);

                &.form-text-white { color: white; }

                &:hover{ 
                        background-color:  $light; 
                        border: var(--default-border);
                        &.form-text-white {color: var(--bs-gray-700)};
                }
        }

        &.form-element--color-validation{

                transition: all 300ms ease;

                &:focus-within {

                        background-color: lighten($selected-input, 32%);
                        border: 0.1rem solid lighten($selected-input, 15%);
                        &.form-text-white {color: var(--bs-gray-700)};
                }

                &.control--invalid:not(:focus-within) {
                        /* lighten not working yet 
                        border: 0.1rem solid $danger;
                        background-color: lighten($danger, 10%);
                        */
                        border: 0.1rem solid #{lighten($lighten_red, 10%)};
                        //background-color: #dd5c5c23;
                        background-color: #{lighten($red, 40%)}
                }
        }  

        .badge-container {
                
                display: none;
                flex-wrap: wrap;

                /* Allow the badges to only disapear if they are valid */
                &.form-element--force-badge-display { display: inline-flex; }
                    
                .badge-container__badge {
                        --badge--color: rgb(103, 103, 103);
                        --badge--bg-color: rgb(241, 241, 241);
                        --badge--border-color: rgb(179, 179, 179);
                        
                        
                        background-color: var(--badge--bg-color);
                        border: 0.12rem solid var(--badge--border-color);
                        font-size: 0.7rem;
                        font-weight: normal;
                        padding: 0.15rem;
                        color: var(--badge--color);
                        
                        /* Variables BOOTSTRAP to define */
                        &.badge--validation-succes {
                                --badge--color: rgb(54, 70, 55);
                                //--badge--bg-color:  rgb(192, 216, 194);
                                --badge--bg-color:  #{lighten($green, 20%)};
                                //--badge--border-color:  rgb(155, 173, 155);
                                --badge--border-color: #{$darken_green};
                        }       
                }
        }

        &:focus-within {
                .badge-container { display: inline-flex }
        }

        /****
        *       Placeholder color
        */
        ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                color: var(--placeholder-color);
                opacity: 1; /* Firefox */
        }
        :-ms-input-placeholder { /* Internet Explorer 10-11 */
                color: var(--placeholder-color);
        }
        
        ::-ms-input-placeholder { /* Microsoft Edge */
                color: var(--placeholder-color);
        }

}

/* Inner padding of every field that defines the distance between the content and the border */
.form-element--field-padding { 
        padding: var(--vertical-spacing) var(--horizontal-spacing); 
}

/* Inner padding - vertical only */
.form-element--field-padding-y { 
        padding-top: var(--vertical-spacing);
        padding-bottom:  var(--vertical-spacing);
}

/* Inner padding - horizontal only */
.form-element--field-padding-x { 
        padding-left: var(--horizontal-spacing);
        padding-right:  var(--horizontal-spacing);
}

.form-element--default-border { border: var(--default-border); }
.form-element--default-border--top { border-top: var(--default-border); }

.form-element--b-radius { border-radius: $border-radius; }

/* Same values than the field padding, but with not padding-top. */
.form-element--field-padding-top-reverse {
        padding: calc(0.5 * var(--vertical-spacing)) var(--horizontal-spacing); 
        //padding-top: calc(0.5 * var(--vertical-spacing))
}

/*  Container of the error messages displayed under the field */
.form-element--validation-errors-container {

        font-size: 0.8rem;
        align-items: center;

        .validation-error {
                &:before {
                        content:  "✖";
                        background-color: rgb(204, 137, 137);
                        color: white;
                        border-radius: 100%;
                        font-size: 0.6rem;
                        height: fit-content;
                        padding: 0.075em 0.25em 0 0.25em;
                        margin-right: 0.25rem;
                }
        }
}

.form-box-shadow {
        box-shadow: $default-box-shadow;
}