/*
        Styling common to every type for field into a form. 
        V.P.R. - 23/10/22
*/

/* General form styling*/
.form-element {

        /*  
                Variables 
        */
        --horizontal-spacing: 0.75rem;
        --vertical-spacing: 0.75rem;

        background-color: $light;
        position: relative;
        
        border-radius: 0.25rem;
        border: 0.1rem solid rgba(94, 94, 94, 0.13);

        //To prevent the field from overflowing the container
        max-width: 100%;

        &.form-element--color-validation{

                -webkit-transition: all 300ms ease;
                -moz-transition: all 300ms ease;
                -ms-transition: all 300ms ease;
                -o-transition: all 300ms ease;
                transition: all 300ms ease;

                &:focus-within {
                        /*  VARIABLE NOT WORKING YET
                        background-color: lighten($purple-lighter, 5%);
                        border: 0.1rem solid $purple-lighter;
                        */
                        background-color: lighten($selected-input, 32%);
                        border: 0.1rem solid lighten($selected-input, 15%);
                        
                }

                &.control--invalid:not(:focus-within) {
                        /* lighten not working yet 
                        border: 0.1rem solid $danger;
                        background-color: lighten($danger, 10%);
                        */
                        border: 0.1rem solid #dd5c5cb9;
                        background-color: #dd5c5c23;
                }
        }  

        .badge-container {
                
                display: none;
                    
                .badge-container__badge {
                        --badge--color: rgb(103, 103, 103);
                        --badge--bg-color: rgb(241, 241, 241);
                        --badge--border-color: rgb(179, 179, 179);
                        
                        
                        background-color: var(--badge--bg-color);
                        border: 0.12rem solid var(--badge--border-color);
                        font-size: 0.7rem;
                        padding: 0.15rem;
                        color: var(--badge--color);
                        
                        /* Variables BOOTSTRAP to define */
                        &.badge--validation-succes {
                                --badge--color: rgb(54, 70, 55);
                                --badge--bg-color:  rgb(192, 216, 194);
                                --badge--border-color:  rgb(155, 173, 155);
                        }       
                }
        }

        &:focus-within {
                .badge-container { display: inline-flex }
        }


    

}

/* Inner padding of every field that defines the distance between the content and the border */
.form-element--field-padding { 
        padding: var(--horizontal-spacing) var(--vertical-spacing); 
}

.form-element--b-radius { border-radius: $border-radius; }

/* Same values than the field padding, but with not padding-top. */
.form-element--field-padding-top-reverse {
        padding: var(--horizontal-spacing) var(--vertical-spacing); 
        padding-top: 0;
}

/*  Container of the error messages displayed under the field */
.form-element--validation-errors-container {

        font-size: 0.8rem;
        align-items: center;

        .validation-error {
                &:before {
                        content:  "✖";
                        background-color: rgb(204, 137, 137);
                        color: white;
                        border-radius: 100%;
                        font-size: 0.6rem;
                        height: fit-content;
                        padding: 0.075em 0.25em 0em 0.25em;
                        margin-right: 0.25rem;
                }
        }
}
