
.tip__toggle-button {
    background-color: $secondary-darker;
    color: white;
    font-weight: 600;
    border-radius: 100%;
    width: 1.5rem;
    height: 1.5rem;
    font-size: 1.2rem;
    margin-bottom: 0.25rem;

    transition: 0.3s ease;
    &:hover { background-color: $secondary-dark; }
}