
.tip__toggle-button {
    background-color: rgb(228, 228, 228);
    border: 0.005rem solid rgb(180, 180, 180);
    font-weight: bold;
    border-radius: 100%;
    width: 1.5rem;
    height: 1.5rem;
    font-size: 0.8rem;
    margin-bottom: 0.25rem;

    display: flex;
    align-items: center;
    justify-content: center;
}