/*


        ResetPassword component styling



*/

.resetPassword {

        
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 75vh;


    form {
        width: min(35rem, 95%);
        padding: 2rem;
        h3 { margin-top: 0px; }
        p {
                color: rgb(111, 111, 111);
        }
    }


    
}