
.rich-textarea {

    //LOCAL VARIABLE

    /* Padding inside the textarea */
    --textArea-padding: 1rem;
    --border-radius: 0.25rem;

    .rich-textarea__quill {

        .rich-textarea__tool-bar {
            border-radius: var(--border-radius);
            background-color: rgba(235, 235, 235, 0.432);
            border: none;
      
        }

        .rich-textarea__quill__field {

            /*  Transition for the styling */
            -webkit-transition: all 500ms ease;
            -moz-transition: all 500ms ease;
            -ms-transition: all 500ms ease;
            -o-transition: all 500ms ease;
            transition: all 500ms ease;

            border-radius: var(--border-radius);
            background-color: white;
            border: 0.1rem solid rgba(94, 94, 94, 0.13);

            &:focus-within {
                background-color: rgba(227, 233, 255, 0.658);
                border: 0.1rem solid rgb(178, 178, 235);
            }

            &.control--invalid:not(:focus-within) {
                border: 0.1rem solid rgb(255, 135, 135);
                background-color:  rgba(255, 135, 135, 0.09);
            }

            .rich-textarea__quill-content  {
                
                /*
                Override some default styling of the input element 
                */
                background-color: none;
                border: unset;
                color: unset;
        
                > div{
                    border: unset;
                    color: unset;

                    //Text field area (cannot refer by class inside module)
                    > div { padding: var(--textArea-padding); }
                }
        
                
            }

            .rich-textarea__quill__field__extra-content {
                /*padding: var(--textArea-padding);
                padding-top: 0;*/
                display: flex;
                justify-content: flex-start;

                
            }
        }
    }
}