/*

    Input component 


*/

.input-component {

    display: flex;
    flex-direction: column;

    .input-component__label-container {
        display: flex;
        justify-content: space-between;
    }
    
    /* TODO : make this style global and combine it with bootstrap */
    .information-button {
        width: 1rem;
        height: 1rem;
        font-size: 0.75rem;
        color: white;
        background-color: rgb(201, 201, 201);
        border-radius: 100%;
        transition: 0.35s;
        &:hover {
            background-color: rgba(110, 110, 110, 0.705);
        }

        
    }
        
    .input-component__field-container {
    
        display: flex;
    
        input {
            flex: 1;
            height: 100%;
            border-bottom: 0px;
        }
    }
}    

