{
  "parser": "@babel/eslint-parser",
  "extends": [
    "eslint:recommended",
    "prettier"
  ],
  "settings": {
    "root": true,
    "project": "./",
    "import/resolver": {
      "node": true
    },
    "node": {
      "paths": [
        "src",
        "pages",
        "styles"
      ]
    },
    "import/external-module-folders": [
      "node_modules"
    ]
  }
}