/*

    Basic styling for this confirmation page

*/

.aConfirmerPage {

    width: 100%;
    float: left;
    min-height: 90vh;

    display: flex;
    align-items: center;
    justify-content: center;

}