/*

        Styling and animation for the X Button

*/

.xButton{
    width: 3rem;
    height: 3rem; 

    justify-self: center;
    transition: 0.3s;

    display: flex;
    align-items: center;
    justify-content: center;

    svg {
        width: 1.5rem;
        height: auto;
        fill: white;
    }

    &.openned{
        -webkit-transform: rotate(180deg); /* WebKit */
        -moz-transform: rotate(180deg); /* Mozilla */
        -o-transform: rotate(180deg); /* Opera */
        -ms-transform: rotate(180deg); /* Internet Explorer */
        transform: rotate(180deg); /* CSS3 */
    }
}