/*
        Styling for the bottom-banner component 
        V.P.R - 18/04/2022
        M-A. M - 2024-02-15
*/

.bottom-banner {
    $animation-duration: 500ms;
    padding: 2rem;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 500;
    border: 0;
    box-shadow: 2px 1px 15px -2px rgb(183 183 183);
    /* Fade in animation when the element appear*/
    animation: slideIn $animation-duration $bezier-ease-in-out forwards;

    &.close {
        /* Fade out animation when the element have to be closed*/
        animation: slideOut $animation-duration $bezier-ease-out forwards;
    }

    .bottom-banner__buttons-container {

    }
}

/*
    Fade in animation
*/
@keyframes slideIn {
    from { transform: translateY(100%); }
    to { transform: translateY(0%); }
}

/*
    Fade out animation
*/
@keyframes slideOut {
    from { transform: translateY(0%); }
    to { transform: translateY(100%); }
}