/*

    This file define a general style for the design system documentation

*/

.codebox {
	margin-top: 10px;
	background: #eee;
	padding: 10px 20px;
	margin-bottom: 30px;
}

.codebox-info{
    border-bottom: 1px solid #aaa;
    padding-bottom: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.force-underline{
    text-decoration: underline;
}