/*
    Styles for the main navigation bar
*/
.navContainer {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    clip-path: inset(0 0 100% 0);
    overflow: auto;

    transition: all 500ms ease;

    .main-section {
        margin-top: 10vh;

        //margin-top: calc(var(--headersHeight) + 10vh);
    }

    .nav-section {
        padding: 0.25rem;
        margin-bottom: clamp(0.75rem, 3vh, 5rem);
        min-width: 30ch;
        * {
            text-align: left;
        }
    }

    .limited-width {
        width: min(100ch, 95%);
    }

    .entity-icon {
        color: $secondary;
        margin-right: 1rem;
    }

    .button-list {
        font-size: 1rem;

        li {
            margin-top: 1vh;
        }
    }

    .bg-img-container {
        z-index: -1;
        pointer-events: none;
        overflow: hidden;
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        .bg-img {
            right: 1rem;
            bottom: 0.5rem;
            height: max(18rem, 80vh);
            width: auto;
        }
    }

    .top-covering-color {
        background: $primary-lighter;
        background: linear-gradient(180deg, $primary-lighter 50%, rgba(255, 255, 255, 0) 100%);
        height: var(--headersHeight);
        position: sticky;
        top: 0;
        width: 100%;
        left: 0;
    }
}

.navContainer.displayed {
    clip-path: inset(0);
}
