

.header-base {
    //min-height: clamp(8rem, 35vh, 20rem);
    padding-top: var(--headersHeight);
    background-color: $primary_1;
}

.full-width-container {
    width: 100vw;
    margin-left: calc(50% - 50vw);
}