.tagList {

    margin: 0.5rem 0rem;
    float: left;
    
    .tag {
        user-select: none;
        margin:5px;
        outline: solid black 2px;
        border-bottom-right-radius: 15px;
        border-top-right-radius: 15px;
        float: left;


        display: flex;
        flex-direction: row;

        span {
            padding:0.2rem;
            align-items: center;
            justify-content: center;
            display: flex;
        }

        .closeButton{
            cursor: pointer;
            padding:0.5rem;
        }
    }
}