/*

        Styling and animation for the hamburger button at the top of the page
        Created : V.P.R - 15/10/2021

*/

.hamButtonComponent {

    height: 100%;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
  
    /* Basinc stylings for an unactive menu */
    .menu_btn {
        position: relative;
        display: flex;
        align-items: center;
        transition: all .5s ease-in-out;
        height: 1.5rem;
        width: 1.5rem;

        .menu_btn__burger {
            width: inherit;
            height: 4px;
            background: var(--bs-black);
            box-shadow: 0 2px 5px rgba(255,101,47,.2);
            transition: all .4s ease-in-out;
        }
    
        .menu_btn__burger::before,
        .menu_btn__burger::after {
            content: '';
            position: absolute;
            right: 0;
            width: inherit;
            height: 4px;
            background: var(--bs-black);
            box-shadow: 0 2px 5px rgba(255,101,47,.2);
            transition: all .4s ease-in-out;
        }
    
        .menu_btn__burger::before {
            transform: translateY(-8px);
        }
    
        .menu_btn__burger::after {
            transform: translateY(8px);
        }
    }



    /* ANIMATION for the "active" menu */
    .menu_btn.active {

        > div {
            transform: translateX(-57px);
            background: transparent;
            box-shadow: none;
        }

        > div::before {
            transform: rotate(45deg) translate(40px, -40px);
        }

        > div::after {
            transform: rotate(-45deg) translate(40px, 40px);
        }
    }

}