.pageContent {

    /* Common styles to every main sections of the page */
    > * {
        width: 100%;
        float: left;
    }

    /* Page header styling */
    > header {

        margin-top: 10vh;
        margin-bottom: 10vh;

        h1, p {
            max-width: 600px;
        }
    }

    /* Main informations section that contain directly every classes represented by articles */
    > section {
        
    }

}