.pageContent {

    /* Common styles to every main sections of the page */
    > * {
        width: 100%;
        float: left;
    }

    /* Page header styling */
    > header {
        margin: 10vh 0px;
        max-width: 600px;
    }

}