.selectInput {
    background-color: white;
    margin-left: 1rem;
}

.tagList {
    .tagInput{
        cursor: pointer;
        //padding: 0.3rem;
    }
    .tag {
        user-select: none;
        margin:5px;
        padding:0.5rem;
        outline: solid black 2px;
        border-bottom-right-radius: 15px;
        border-top-right-radius: 15px;
        background-color: white;
    }
    .occupation {
        user-select: none;
        margin:5px;
        padding:0.5rem;
        outline: solid black 2px;
        border-bottom-right-radius: 15px;
        border-top-right-radius: 15px;
        background-color: rgba(56, 208, 235, 0.647);
    }
    .skill {
        user-select: none;
        margin:4px;
        padding:0.5rem;
        outline: solid black 2px;
        border-bottom-right-radius: 15px;
        border-top-right-radius: 15px;
        background-color: rgba(56, 235, 137, 0.647);
    }
}