
.fixed-card {

    position: fixed;
    max-height: 90vh;
    max-width: 95vw;
    width: 65ch;
    width: min(65ch, 90vw);
    background-color: rgb(255, 255, 255);
    border: 0.3rem solid rgb(175, 175, 189);
    border-radius: 1rem;
    padding: 1rem;
    padding: min(2vw, 1.5rem);
    z-index: 1001;

    -webkit-box-shadow: 3px 3px 5px 3px #414141a9; 
    box-shadow:  3px 3px 5px 3px #414141a9; 

    /* Center the element */
    top: 50%;                         /* 3 */
    left: 50%;
    transform: translate(-50%, -50%);    /* 4 */

    h2, h3 { 
        color: var(--mainBlue);
        margin: 0rem;
    }

    h4 {
        font-weight: normal;
    }
}