
.TextArea-Component {

    /*  Transition for the styling */
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;

    float: left;

    label {

        display: flex;
        flex-direction: column;

        textarea  {
            padding: 0.5rem;
            width: 100%;
        /*    width: min(100%, 50ch);  */
            resize: vertical;

            /*
            Override some default styling of the input element 
            */

            /* variable to set equally the padding */
            --inputPadding: 0.75em;

            background-color: white;
            border: unset;
            padding: var(--inputPadding);
            border: 0.05rem solid rgba(94, 94, 94, 0.2);

      
            &.control--invalid {
                border: 0.1rem solid rgb(255, 135, 135);
                background-color:  rgba(255, 135, 135, 0.09);
            }

            &:focus{
                background-color: rgba(227, 233, 255, 0.212);
                border: 0.1rem solid rgb(178, 178, 235);
            }

  
            
        }
    }
}