.button {

    /*

        Main button styling

    */

    font: inherit;
    padding: 0.5rem 1.5rem;
    border: 1px solid var(--mainBlue);
    border-radius: 4px;
    background: var(--mainBlue);
    color: white;
    cursor: pointer;
    margin-right: 1rem;
    text-decoration: none;
    display: inline-block;
    position: relative;



    &:focus {
        outline: none
    }

    &:hover, 
    &:active {
        background: var(--altBlue);
        border-color: var(--altBlue);
    }

    &.button--inverse {
        background: transparent;
        color: var(--mainBlue);
    }

    &.button--inverse:hover,
    &.button--inverse:active {
        color: white;
        background: var(--mainBlue);
    }

    &.button--danger {
        background: var(--red);
        border-color: var(--red);
        color: white;
    }
    
    &.button--danger:hover,
    &.button--danger:active {
        background: var(--red);
        border-color: var(--red);
    }

    &:disabled,
    &:hover:disabled,
    &:active:disabled {
        background: #ccc;
        color: #979797;
        border-color: #ccc;
        cursor: not-allowed;
    }

    &.button--small {
        font-size: 0.8rem;
    }
    
    &.button--big {
        font-size: 1.5rem;
    }

}

.ripple {

    --circle-size: 5ch;
 
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    width: var(--circle-size);
    height: var(--circle-size);
    border-radius: 50%;
    pointer-events: none;

    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    opacity: 0.3;

}









