.button {

    /* Starting color */
    --currentColor: var(--bs-primary);
    --hover-brightness: 1.2;

    /* Personnalized colors */
    &.blue2 { --currentColor: var(--bs-blue2); }
    &.blue3 { --currentColor: var(--bs-blue3); }
    &.blue4 { --currentColor: var(--bs-blue4); }
    &.red { --currentColor: var(--bs-red); }

    -webkit-transition: -webkit-filter 0.3s;
    transition: -webkit-filter 0.3s;
    -o-transition: filter 0.3s;
    transition: filter 0.3s;
    transition: filter 0.3s, -webkit-filter 0.3s;

    /*

        Main button styling

    */

    float: left;
    font: inherit;
    padding: 0.5rem 1.5rem;
    border: 1px solid var(--currentColor);
    border-radius: 4px;
    background: var(--currentColor);
    color: white;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    position: relative;
    margin: 0.1rem;



    &:focus {
        outline: none
    }

    &:hover, 
    &:active {
        -webkit-filter: brightness(var(--hover-brightness));
        filter: brightness(var(--hover-brightness));
    }

    &.button--reverse {
        background: transparent;
        border-width: 0.15rem;
        font-weight: 600;
        color: var(--currentColor);
    }

    &.button--reverse:hover,
    &.button--reverse:active {
        color: white;
        background: var(--currentColor);
        -webkit-filter: brightness(1); /* No changes... */
        filter: brightness(1);  /* No changes... */
    }

    &:disabled,
    &:hover:disabled,
    &:active:disabled {
        background: #ccc;
        color: #979797;
        border-color: #ccc;
        cursor: not-allowed;
        -webkit-filter: brightness(1); /* No changes... */
        filter: brightness(1);  /* No changes... */
    }

    /* Shapes of the button */

    &.button--small {
        font-size: 0.8rem;
    }
    
    &.button--big {
        font-size: 1.5rem;
    }

    &.button--slim {
        padding: 0.25rem 0.75rem;
    }

    &.button--fat {
        padding: 1rem 2rem;
    }

}

/*
*
*       !!!! Option not functional yet
*
*/
.ripple {

    --circle-size: 5ch;
 
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    width: var(--circle-size);
    height: var(--circle-size);
    border-radius: 50%;
    pointer-events: none;

    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    opacity: 0.3;

}









