.org-simple {

    margin: 10vh 0;
    background-color: rgb(245, 245, 245);

    .org-simple__header {

        min-height: 10rem;

        .org-simple__background {

            .org-img { object-fit: cover; }

            .covering-gradient {
                background: rgba(0,0,0,0);
                background: linear-gradient(0deg, rgba(0,0,0,0.7) 0%, rgba(14,14,14,0.5) 11%, rgba(107,107,107,0.06533035577512258) 96%);
            }
        }

    }

}