.pageContent {

    /* Common styles to every main sections of the page */
    > * {
        width: 100%;
    }

    /* Page header */
    > header {

        min-height: 50vh;
        display: flex;

        section {

            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            /* Page text intro */
            h1 {
                max-width: 27rem;
                font-size: 2.5rem;
                text-align: center;
                z-index: 2;
                margin: 7rem 5vw;

                span { 
                    font-size: 1.5em;
                    line-height: 3rem;
                }
            }

            figure {
               
                overflow: hidden;
                position: absolute;
                top: 0px;
                left: 0px;
                width: 100%;
                height: 100%;
                margin: 0px;
                text-align: center;

                img.mainIllustration {
                    position: relative;
                    width: auto;
                    height: 100%;
                }

                div {
                    position: absolute;
                    top: 0px; 
                    left: 0px; 
                    width: 100%;
                    height: 100%;
                    text-align: center;

                    img.illustration_circle{
                        position: relative;
                        width: auto;
                        height: 100%;

                    }
                }
            }
        }
    }

    /* Page main section where all the individual classes are displayed */
    .classesContainer > div {

        /* Headers section */
        > header {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin: 4em 0px 2em 0em;

            /* headers main content */
            > article {

                flex: 1;
                margin-bottom: 2em;

                /* every element floating under eachother */
                > * { float: left; }

                /* main title of the page */
                h1 { 
                    margin-top: 0px;
                    margin-bottom: 1rem; 
                }

                /* small subtitle of the page */
                h5 { 
                    font-size: 1.2rem;
                    margin: 1rem 0rem;
                }

                /* Lines to add to the design */
                .line:first-of-type{ width: 11rem; }
                .line:last-of-type{ width: 2rem; }

                /* Presentation text */
                p { 
                    margin-bottom: 0px;
                    margin: 0px;
                }

            }

            /* Redirection linl */
            > aside {

                /********************
                 aside block variables 
                 *********************/
                 --asideBorderWidth: 0.14rem;

                 /* Aside block styling */ 
                height: auto;
                width: 100%;
                text-align: center;
                display: flex;
                flex-direction: column;
                padding: 1.5rem 0rem;


                /* The aside block is devided in two sections. 
                One for the text, one for the button. */

                section {
                    width: 100%;
                    float: left;
                    display: flex;
                    flex-direction: column;

                    /* section with the text */
                    &:first-of-type{ 
                        padding: 0rem 1rem;
                        h3, h5 { 
                            margin-top: 0px;
                            margin-bottom: 0.5rem;
                        }
                    }

                    /* section with the button */
                    &:last-of-type{ 
                        flex: 1;
                        display: grid;
                        align-content: center;
                        position: relative;

                        /* block to align the content horizontaly */
                        div {
                            display: grid;
                            justify-content: center;
                            position: relative;
                            margin: 1rem 0rem;

                            /* Button / action  */
                            .circle_Container {
                                border-radius:  100%;
                                padding: 1rem;
                                float: left;
                                z-index: 1;
                                border: var(--asideBorderWidth) solid white;
                                transition: 0.3s ease-out;
    
                                /* arrow */
                                svg { 
                                    height: 1.5rem;
                                    width: 1.5rem;
                                    float: left;
                                    fill: white;
                                    transition: inherit;
                                }
    
                                &:hover {
                                    background-color: white;
                                    svg{ fill: var(--bs-primary); }
                                }
                            }
    
                            &::before{
                                content:"";
                                position: absolute;
                                width: 50%;
                                height: 100%;
                                top: 0px;
                                left: 0px;
                                box-sizing: border-box;
                                border-top: var(--asideBorderWidth) white solid;
                                border-bottom: var(--asideBorderWidth) white solid;
                            }
                        }
                    }
                }
            }
        }

        /* Section that hold the classes */ 
        > section {

            .separation_line {
                height: 1px;
                background-color: var(--bs-secondary);
                border: none;
                margin: 0px;
            }
        }
    }
}

/*
*
*
*     Media queries for responsive design
*
*
*
*/


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    .pageContent { 

        /* Page main section where all the individual classes are displayed */
        .classesContainer > div {

            /* Headers section */
            > header {
                flex-direction: row;
                
                > article {
                    margin-right: 2em;
                }

                > aside {
                    width: min(90%, 30ch);
                    min-height: 30ch;
                }
            }
        }
    }
}
  
  
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
}

/* Extra large devices (large laptops and desktops, 1500px and up) */
@media only screen and (min-width: 1500px) {
    
}