/*

        Register page

*/

.registerPage {

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 75vh;
    padding: 10vh;
    position: relative;


    form {
        position: relative;
        width: min(35rem, 95%);
        padding: 2rem;
        border: 1px solid var(--grey);
        h3 { margin-top: 0px; }

        /*
            The fields are direct children of the form
        */
        > *:not(button){ 
            width: 100%;
            margin-bottom: 1rem;
        }
    }

}