.select{

    display: flex;
    flex-direction: column;

    .select__label-row {
        display: flex;
        justify-content: space-between;
    }

    
    /* Button to propose new modifications  */
    .button-container {

        justify-content: flex-end;

        > button {

            text-decoration: underline;
            opacity: 0.7;
            font-weight: 700;
            color: rgb(79, 79, 79);

            -webkit-transition: 0.2s ease;
            -moz-transition: 0.2s ease;
            -o-transition: 0.2s ease;
            -ms-transition: 0.2s ease;
            transition: 0.2s ease;

            &:hover {
                opacity: 1;
            }

            & :disabled, &[disabled]{
              opacity: 0;
              pointer-events: none;
            }
        }
    }
}