/*



*/

.authenticationMessage {


    width: min(35rem, 95%);
    padding: 2rem;
    height: auto;

    display: flex;
    flex-direction: column;

    > * {
        float: left;
    }
    
    h2 {
        margin: 0px; 
        width: 100%;
    }

 
    

}