/* Error message displayed inside a form to inform the user of a problem */
.data-form-message {
    margin-bottom: 1rem;
    padding: 1rem;
    background: $lighten_red;
    background: linear-gradient(100deg, $lighten_red 62%, $danger 100%);

    transform: translateY(-3rem);
    opacity: 0;

    border-radius: $border-radius;
    animation: slide-fwd-bottom 1s $toast-easing both;
}

@-webkit-keyframes slide-fwd-bottom {
    0% {
        transform: translateY(-3rem);
        opacity: 0;
    }

    20% {
        opacity: 0;
    }
    100% {
        transform: translateY(0rem);
        opacity: 1;
    }
}
@keyframes slide-fwd-bottom {
    0% {
        transform: translateY(-3rem);
        opacity: 0;
    }
    30% {
        opacity: 0;
    }
    100% {
        transform: translateY(0rem);
        opacity: 1;
    }
}
