.card {

    /* 
        No with will be define since it is gonna be
        control by the page that present the cards
    */

    min-width: 20rem;
    //min-height: 20rem;
    background-color: white;
    position: relative;
    border-radius: 0.5rem;

    -webkit-box-shadow: 0px 0px 8px 1px rgba(137,137,137,0.4); 
    box-shadow: 0px 0px 8px 1px rgba(137,137,137,0.4);

    margin: 1rem;

    header {

        padding: 1rem;

        h5 { 
            margin: 0px;
            text-align: center; 
            color: rgb(88, 88, 88);
        }
    }

    figure {

        position: relative;
        height: 15rem;
        margin: 0px;

        img {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        div {
            position: absolute;
            top: 0px;
            height: 60%;
            left: 0px;
            width: 100%;
            background: rgba(0,0,0,0);
            background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.6) 100%);
        }
    }

    .card__content {

        position: relative;
        background-color: rgb(250, 250, 250);
        width: 95%;
        margin: -4rem 2.5% 2.5% 2.5%;
        float: left;
        border-radius: 0.25rem;
        padding: 1rem 1.5rem;
        padding: max(3%, 0.75rem) max(4%, 1rem);

        -webkit-box-shadow: 0px 0px 8px 1px rgba(137,137,137,0.2); 
        box-shadow: 0px 0px 8px 1px rgba(137,137,137,0.2);

        .card__inner-line {
            width: 100%;
            float: left;
            border-bottom: 0.05rem solid rgba(128, 128, 128, 0.226);
            margin: 0.5rem 0px;
        }

        h4 {
            margin: 0px;
            color: rgb(100, 112, 146);
            font-size: 1.1rem;
            font-weight: 900;
        }

        p { 
            font-size: 0.9rem; 
            margin: 0px;
            color: grey;
        }

        > p { 
            max-height: 5rem;
        }

        .card__infos {
            width: 100%;
            float: left;
            display: grid;
            grid-template-columns: auto 1fr;
            font-size: 0.9rem;
            color: grey;
            margin-bottom: 3px;
            > * {
                float: left;
            }

            /* Hide the overflowing text */
            > *:last-of-type{
                overflow:hidden;

                > div {
                    overflow:hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }

            .card__infos--titles {
                margin-right: 0.5rem;
                min-width: 10ch;
                font-weight: bold;
            }
        }
    }

    .card__infos__sub-section {
        width: 95%;
        float: left;
        margin: 0px 2.5% 2% 2.5%;
        opacity: 0.8;
        font-size: 0.9rem;

        display: flex;
        justify-content: space-between;
    }


}