/*

        Styling and animation for the X Button

*/

.xButton{
    border: unset;
    background-color: unset;
    cursor: pointer;
    justify-self: center;
    font-size: 18px;
    padding: 5px;
    transition: 0.3s;

    /* Positionning the x to be a + */
    -webkit-transform: rotate(45deg); /* WebKit */
    -moz-transform: rotate(45deg); /* Mozilla */
    -o-transform: rotate(45deg); /* Opera */
    -ms-transform: rotate(45deg); /* Internet Explorer */
    transform: rotate(45deg); /* CSS3 */

    &:hover {
        -webkit-transform: scale(1.3) rotate(45deg); /* WebKit */
        -moz-transform: scale(1.3) rotate(45deg); /* Mozilla */
        -o-transform: scale(1.3) rotate(45deg); /* Opera */
        -ms-transform: scale(1.3) rotate(45deg); /* Internet Explorer */
        transform: scale(1.3) rotate(45deg); /* CSS3 */
    }

    &.openned{
        -webkit-transform: rotate(0deg); /* WebKit */
        -moz-transform: rotate(0deg); /* Mozilla */
        -o-transform: rotate(0deg); /* Opera */
        -ms-transform: rotate(0deg); /* Internet Explorer */
        transform: rotate(0deg); /* CSS3 */

        &:hover {
            -webkit-transform: scale(1.3) rotate(0deg); /* WebKit */
            -moz-transform: scale(1.3) rotate(0deg); /* Mozilla */
            -o-transform: scale(1.3) rotate(0deg); /* Opera */
            -ms-transform: scale(1.3) rotate(0deg); /* Internet Explorer */
            transform: scale(1.3) rotate(0deg); /* CSS3 */
        }
    }
}