.page-list {
    list-style-type: disc;
    margin-left: 1rem;
}

.gallerie img {
    width: clamp(15rem, 15vw, 23rem);
    height: auto;
    max-height: 12em;
    padding: var(--footer-vertical-paddings) 0px;
}
