/*

        Authentication page

*/

.authPage {

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 75vh;
    position: relative;


    form {
        width: min(35rem, 95%);
        padding: 2rem;
        border: 1px solid var(--grey);
        h3 { margin-top: 0px; }

        .formRedirection {
            margin: 0.7rem 0rem 0rem 0rem;
            font-size: 0.9rem;
        }
    }

    input {
        background-color: rgb(245, 245, 245);
        width: 100%;
    }


}