.spinner__container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    padding: 3rem;
    @include transition();

    &.spinner__container--absolute {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        margin-top: 0;
    }

    &.spinner__container--fixed {
        position: fixed;
        z-index: $zindex-popover;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        margin-top: 0;
    }

    &.spinner__container--animateIn {
        opacity: 1;
        padding-top:4rem;
        padding-bottom: 4rem;
    }
    &.spinner__container--animateOut {
        opacity: 0;
    }

}