.bg-repeat-none {
    background-repeat: no-repeat;
}

.bg-position-default {
    background-position: center center;
}

.gradient-sharp-diagonal {
    background: linear-gradient(45deg, $primary 50%, $secondary 50%);
}
