
.breadcrumb-item {
    // The separator between breadcrumbs (by default, a forward-slash: "/")
    + .breadcrumb-item {
        padding-right: 0;//var(--#{$prefix}breadcrumb-item-padding-x);
        padding-left: 0;

        &::before {
            content: "";
            padding-right: 0;
            padding-left: 0;
        }

        &::after {
            float: left; // Suppress inline spacings and underlining of the separator
            padding-right: var(--#{$prefix}breadcrumb-item-padding-x);
            padding-left: var(--#{$prefix}breadcrumb-item-padding-x);
            color: var(--#{$prefix}breadcrumb-divider-color);
            content: var(--#{$prefix}breadcrumb-divider, escape-svg($breadcrumb-divider)) #{"/* rtl:"} var(--#{$prefix}breadcrumb-divider, escape-svg($breadcrumb-divider-flipped)) #{"*/"};
        }
    }

    &:first-child {
        padding-right: 0;//var(--#{$prefix}breadcrumb-item-padding-x);
        padding-left: 0;

        &::before {
            content: "";
            padding-right: 0;
            padding-left: 0;
        }

        &::after {
            float: left; // Suppress inline spacings and underlining of the separator
            padding-right: var(--#{$prefix}breadcrumb-item-padding-x);
            padding-left: var(--#{$prefix}breadcrumb-item-padding-x);
            color: var(--#{$prefix}breadcrumb-divider-color);
            content: var(--#{$prefix}breadcrumb-divider, escape-svg($breadcrumb-divider)) #{"/* rtl:"} var(--#{$prefix}breadcrumb-divider, escape-svg($breadcrumb-divider-flipped)) #{"*/"};
        }
    }
    &:last-child {
        padding-right: 0;//var(--#{$prefix}breadcrumb-item-padding-x);
        padding-left: 0;

        &::before {
            content: "";
            padding-right: 0;
            padding-left: 0;
        }

        &::after {
            float: left; // Suppress inline spacings and underlining of the separator
            padding-right: 0;
            padding-left: 0;
            content: "";
        }
    }
}