::-webkit-scrollbar {
  width: 0.9rem;
  height: 0.5rem;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  /*margin-block: 0.25rem;*/
  border-radius: 0.5rem;
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb {
  background: $primary_1;
  border-radius: 0.5rem;
  background-clip: padding-box;
  border: 0.15rem solid rgba(255, 255, 255, 0);

}

::-webkit-scrollbar-thumb:hover {
  background: $primary;
  background-clip: padding-box;
  border: 0.15rem solid rgba(255, 255, 255, 0);
}

@supports (scrollbar-color: #caccd4 $primary_1) {
  * {
    scrollbar-color:#caccd4 $primary_1;
    scrollbar-width: thin;
  }
}