/*
        Styles specifics to the footer of every pages
        V.P.R - 30/09/2021
*/

#pageFooter {

    float: left;
    width: 100%;
    background-color: rgb(53, 53, 53);
    color: white;
    
}