/*

    Styling representing a linked class article

*/


/* Padding value of the article */
$articlePadding: 20px;

/* main element */
.linkedClassComponent {

    margin: 5px 0px;
    border: 1px solid var(--grey);
    padding: 0px $articlePadding;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    /* header of a linked class containing two elements : the title and the separation line */
    > header {
        
        display: flex; 
        align-items: center;

        h4 { margin: 0.5em 0em; }
        
        .line {
            border-left: 3px solid var(--grey);
            align-self: stretch;
            margin: 0px 10px;
            display: none;
        }
    }

    /* Section containing all the information to display */
    > section{
        flex-grow: 2;
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        align-items: center;
        order: 1;
        border-top: 2px solid var(--grey);
        padding: 0.5em 0px;
        
        > div {

            font-weight: 600;
            color: var(--dark);
            margin: 5px 20px 5px 0px;
            font-size: 0.9em;
 
            span {
                color: var(--grey);

            }
        }

    }

    /* Button to redirect on the concerned class */
    > :nth-child(3){
        padding: 10px;
        align-self: center;
        font-size: 20px;
        cursor: pointer;
    }

}


/* Extra small devices (phones, 500px and down) */
@media only screen and (max-width: 500px) {

}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    .linkedClassComponent {

        flex-wrap: nowrap;
        padding: $articlePadding;

        > header {
            
            h3 { min-width: 150px; }
            .line { display: block; }
            
        }

        > section{
            order: unset;
            border-top-width: 0px;
            justify-content: space-around;
            padding: 0px;
        }

    }

}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
     
}