.loading-indicator {
    height: 100vh;
    display: grid;
    place-items: center;

    &::after {
        content: "";
        position: absolute;
        inset: 0;
        background: $primary;
        z-index: -1;

        animation: pulse 1500ms cubic-bezier(0.4, 0, 0.6, 1) infinite;
    }
}

@keyframes pulse {
    0% {
        opacity: 0.6;
    }

    50% {
        opacity: 0.3;
    }

    100% {
        opacity: 0.6;
    }
}
