
.main-image-container {

  --picture-size: clamp(8rem, 20vw, 12rem);
  --margin-bottom: calc(-0.30*var(--picture-size));

  position:relative;
  margin-bottom: var(--margin-bottom);
  width: var(--picture-size);
  height: var(--picture-size);
  border-radius: 50%;

  &.default-img {
    //Make it a tiny bit less overflowing if its the default picture
    --margin-bottom: calc(-0.20*var(--picture-size));
    img {
      object-fit: contain !important; 
      object-position: center bottom;
     }
  }

  .main-image {
    bottom: 0;
    position: absolute;
    width: var(--picture-size);
    height:  var(--picture-size);
    object-fit: cover;
    //box-shadow: $default-box-shadow;
  }

  .edit-image-button {
    opacity: 0.8;
    position: absolute;
    right: -1rem;
    bottom : calc(0px - var(--margin-bottom) - 1rem);
    &:hover { opacity: 1; }
  }

  .main-image-link {
    background-color: rgba($dark, 0%);
    color: rgba($light, 5%);
    @include transition();
    &:hover {
      background-color: rgba($dark, 15%);
      color: rgba($light, 90%);
    }
  }
}

.mode-update {
  .main-image-container {
    margin: 0;
  }
}