/*
    Styles for the main navigation bar
*/
.navContainer {

    background: linear-gradient(to top, #373737, #212121);
    float: left;
    width: 100%;
    position: fixed;
    height: 7em;
    color: white;

    /*
        Main title section of the platform
    */
    > div {
        height: inherit;
        float: left;
        display: flex;
        justify-content: center;
        padding: 0px 3em;
        flex-direction: column;

        h1 { margin: 0px; }
        img { 
            max-height: 1em;
            align-self: flex-start;
            margin-top: 5px;
        }

    }

    > ul {
        height: inherit;
        float: right;
        padding: 3em;

        li {
            float: left;
            margin-left: 3em; 
            font-size: 1em;
        }
    }
 
}

