.main-nav {

    .nav {

        height: 5em;
        display: flex;
        background-color: transparent;

        .nav-item {

        }

        .nav-link {
            color: $light;
            &:hover {
                color: $secondary;
            }
        }
    }
}