/*
    Styles for the main navigation bar
*/
.navContainer {

    background: linear-gradient(to top, #373737, #212121);
    float: left;
    width: 100%;
    position: fixed;
    height: 7em;
    color: white;

    /* 
    Center-container 
    */
    > .maxWidthPageContainer {

        display: flex;
        justify-content: space-between;

        /*
        Main title section of the platform
        */
        > div {
            height: inherit;
            float: left;
            display: flex;
            justify-content: center;
            flex-direction: column;

            h1 { margin: 0px; }
            img { 
                max-height: 1em;
                align-self: flex-start;
                margin-top: 5px;
            }

        }

        /*
        Navigation menu
        */
        > ul {
            height: inherit;
            float: right;
            padding: 3em 0;

            li {
                float: left;
                margin-left: 3em; 
                font-size: 1em;
            }
        }
    }
}

