/*
        Styles of the property component
*/

.propertyComponent {

    border-radius: 5px;
    -webkit-box-shadow: 0px 2px 2px 2px rgba(0,0,0,0.12); 
    box-shadow: 0px 2px 2px 2px rgba(0,0,0,0.12);   
    margin: 10px 0px;
    padding: 20px;

    /* Header section of the component */
    > header {

        margin-bottom: 5vh;

        h2{
            float: left;
            margin: 0px;
        }

        .requirementMention{
            border-radius: 10px;
            padding: 4px 6px;
            font-size: 10px;
            float: left;
            font-weight: 600;
            margin: 2px 8px;
        }

        small { margin: 10px 0px;}
    }


    /* Informations section  */
    > section {
        h3 {
            color: rgb(99, 99, 99);
            text-decoration: underline;
            margin-bottom: 5px;
        }

        p {
            margin: 0px;
        }
    }

    
}