.search-bar {
    max-width: 60ch;

    .input-group {

        outline: 0.1rem solid rgb(233, 233, 233);
        &:focus-within {
            outline: 0.1rem solid $secondary-light;
        }

        border-radius: $border-radius; 

        button {
            min-width: 4rem;
            font-size: 1.1rem;
        }
        input[type="text"] {
            background: transparent;
            color: $light;
        }
    }
}

.small-searchBar {

}