.select-component {

    display: flex;
    flex-direction: column;
    align-items: baseline;
    


    .select-component__label-container {

    }

    .select-component__field-container {

        display: flex;
        flex-direction: column;
        width: 100%;

        
        .select-component__field-container__select-field {
            background-color: unset;
        }

    }

}