.select-component{

    //Container for the fields
    > div {

        display: flex;
        flex-direction: row;

        .select-input {
            flex: 1;
            background-color: white;
            margin-left: 1ch;
            padding: 0.75rem;
        }

        

    }
    
    /* Button to propose new modifications  */
    .button-container {

        justify-content: flex-end;

        > button {
            text-decoration: underline;
            opacity: 0.7;
            font-weight: 700;
            color: rgb(79, 79, 79);

            -webkit-transition: 0.2s ease;
            -moz-transition: 0.2s ease;
            -o-transition: 0.2s ease;
            -ms-transition: 0.2s ease;
            transition: 0.2s ease;

            &:hover {
                opacity: 1;
            }

            & :disabled, &[disabled]{
              opacity: 0;
              pointer-events: none;
            }
        }

    }

}

.tagList {

    margin: 0.5rem 0rem;
    float: left;
    
    .tag {
        user-select: none;
        margin:5px;
        outline: solid black 2px;
        border-bottom-right-radius: 15px;
        border-top-right-radius: 15px;
        float: left;


        display: flex;
        flex-direction: row;

        span {
            padding:0.5rem;
        }

        .status {
            font-size: x-small;
        }
        .accepted {color:green;}
        .pending { color: yellow;}
        .rejected { color: red;}

        .closeButton{
            cursor: pointer;
            padding:0.5rem;
            //padding: 0.3rem;
        }

        &.generaltag { background-color: white; }
        &.occupations { background-color: rgba(56, 208, 235, 0.647); }
    }



    .skill {
        user-select: none;
        margin:4px;
        padding:0.5rem;
        outline: solid black 2px;
        border-bottom-right-radius: 15px;
        border-top-right-radius: 15px;
        background-color: rgba(56, 235, 137, 0.647);
    }
}