

.simple-abstract {

    box-shadow: 1px 1px 4px 2px rgba(0,0,0,0.15);
    background-color: white;

}

.radient-cover {
    background: rgba(0, 0, 0, 0);
    background: linear-gradient(0deg, rgba(0,0,0,0.5919410000328256) 0%, rgba(0,0,0,0.051324753534226164) 70%);
    opacity: 1;
    @include transition();
}