/*

    Input component 


*/

    

    .inputComponent {

        float: left;
    
        /*  Transition for the styling */
        -webkit-transition: all 500ms ease;
        -moz-transition: all 500ms ease;
        -ms-transition: all 500ms ease;
        -o-transition: all 500ms ease;
        transition: all 500ms ease;

        display: flex;
        flex-direction: column;
        

        .inputComponent__field-container {

            display: flex;
            height: 100%;

            input {
                flex: 1;
                padding: 01rem;
                background-color: white;
                /* width: min(100%, 50ch); */

                border: 0.05rem solid rgba(94, 94, 94, 0.2);
    
                &.control--invalid {
                    border: 0.1rem solid rgb(255, 135, 135);
                    background-color: rgb(255, 231, 231);
                }

                &:focus{
                    background-color: rgba(227, 233, 255, 0.658);
                    border: 0.1rem solid rgb(178, 178, 235);
                }
            }

            button {
                font-size: 1.5rem;
                padding: 0.2em 0.4em;
                border-radius: 0rem 0.5rem 0.5rem 0rem;
                margin-left: 0.25rem;
            }
        }
    }
