.classInfosComponent {

    display: none;

    /*
    overflow: hidden;
    transition: max-height 1s ease-out;
    max-height: 0px; */
    /*clip-path: polygon(0% 0%, 0% 0%, 0% 0%, 0% 0%);*/
    
    h4 {
        margin: 2em 0 1em 0;
    }

    /*  When selected */
    &.active{
        /*max-height: 400vh; */
        display: block;
    }

    /*  
    *
    *   Description section 
    *
    */
    > .classDescription {
        p {
            margin-top: 0rem;
            column-count: 2;
            column-gap: 2rem;
            width: 100%;
            width: calc(100% - 2rem);
        }
    }
}
