.classInfosComponent {

    display: none;

    /*
    overflow: hidden;
    transition: max-height 1s ease-out;
    max-height: 0px; */
    /*clip-path: polygon(0% 0%, 0% 0%, 0% 0%, 0% 0%);*/
    


    /*  When selected */
    &.active{
        /*max-height: 400vh; */
        display: block;
    }

    /*  
    *
    *   Description section 
    *
    */
    > .classDescription {

        h4 { margin-bottom: 1em 0rem; }

        p {
            margin-top: 0rem;
            column-count: 2;
            column-gap: 2rem;
            width: 100%;
            width: calc(100% - 2rem);
        }

    }

    /*  
    *
    *   Properties section 
    *
    */
    > .classProperties {

        h4 { margin-bottom: 1em 0rem; }

        .propertiesButtonContainer {
            
            display: flex; 
            flex-wrap: wrap;
            margin: -3px;

            .propertyName {
                border: none;
                padding: 0.8rem;
                font-size: 1.25rem;
                border-radius: 6px;
                float: left;
                font-weight: 600;
                margin: 3px;
                cursor: pointer;
                transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);

            }
        }
    }

    > .classLinkedClassed {

    }



}
