/*

        Styling for the view element of a person

*/

.person-view {

        /*   Local variables  */
        --page-padding: 5%;
        --page-padding: clamp(0.5rem, 5%, 5rem);
        --picture-size: 10rem;
        --picture-size: clamp(8rem, 20vw, 12rem);

        background-color: rgb(240, 240, 240);

        /*  HEADER  */
        .person-view__header {

                color: white;
                position: relative;
                padding: var(--page-padding);
                /*min-height: 30rem;
                min-height: clamp(20rem, 60vh, 45rem);*/

                /*  Background image */
                .person-view__bg-img {

                        z-index: 0;
                        overflow: hidden;
                        position: absolute;
                        top: 0px;
                        left: 0px;
                        width: 100%;
                        height: 100%;

                        .person-view__bg-img__img {

                                object-fit: cover;
                                position: absolute;
                                width: 100%;
                                height: 100%;
                                bottom: 0px;

                        }

                        > .black-gradient {
                                position: absolute;
                                top: 0px;
                                left: 0px;
                                width: 100%;
                                height: 100%;
                                background: rgb(2,0,36);
                                background: linear-gradient(0deg, rgba(2, 0, 36, 0.552) 0%, rgba(2,0,36,0.2) 100%);
                        }

              
                }

                /* Top menu of the page */
                .person-view__top-menu {
                        position: relative;
                        z-index: 1;
                }

                /* Main content of the header */
                .person-view__header__content {

                        position: relative;
                        display: flex;
                        flex-direction: column;
                        padding: var(--page-margins);

                        > * { min-height: 5rem; }

                        .headers-content__main-section {
              
                                 aside {


                                        > div {
                                                padding: 1rem;
                                                background-color: white;
                                                -webkit-box-shadow: 1px 1px 3px 1px rgba(60,60,60,0.78); 
                                                box-shadow: 1px 1px 3px 1px rgba(60,60,60,0.78);
                                                color: rgb(37, 37, 37);
                                                border-radius: 0.5rem;
                                                float: right;

                                                p {
                                                        font-size: 0.9rem;
                                                        margin: 0.2rem;
                                                }

                                                button { 
                                                        width: 100%;
                                                        margin-top: 1rem;
                                                        float: left;
                                                }
                                        }
                                }
                        }

                        .headers-content__bottom-row{

                                position: relative; 

                                .headers-content__profil-picture {
                                        height: var(--picture-size);
                                        width: var(--picture-size);
                                        top: 40%;
                                        position: absolute;
                                        border-radius: 100%;
                                        border: 0.2rem solid rgb(231, 231, 231);
                                        overflow: hidden;
        
                                        img {
                                                width: 100%;
                                                height: 100%;
                                        }
                                }
                        }
                }


        }

        .quick-section {

                .quick-section__single-info {
                        color: rgba(255, 255, 255, 0.767);
                        margin-right: 2rem;
                        font-size: 0.9rem;

                        span { font-weight: 700; }
                }

        }

        .person-view__main-section {
                padding: var(--page-padding);
                margin-top: 5rem;
                margin-top: calc(var(--picture-size / 2))
        }
}



/*
        TEMP!
        One specific tag has to be created throughout all the application for the competencies
*/
.competency-tag {
        background-color: rgb(197, 197, 241);
        margin: 0.25rem;
        border-radius: 0.5rem;
}