a.disabled {
    pointer-events: none;
    cursor: default;
}

a.link,
a.external-link,
a.internal-link {
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 3px;
    @include transition();
    &:hover {
        color: $primary;
        text-decoration-color: $primary;
        text-decoration-thickness: 3px;
        text-underline-offset: 4px;
    }
}