
.contribution-page {

    /* Page header */
    > header {

        padding: 10vh 0px;

        h1 { font-size: min(8vw, 3.2rem); }
        p { max-width: 70ch; }

    
    }

    section {

        .contribution-page__menu {

            padding-bottom: 5vh;

            button {
                padding: 1rem;
                width: 100%;
                font-weight: 600;
                float: left;
                margin-bottom: 0.5rem;
            }
        }
    }
}

/* On screens that are 600px or more, set the background color to blue */
@media screen and (min-width: 600px) {
    .contribution-page {
        section {

            .contribution-page__menu {

                button {
                    width: auto;
                    padding: 2rem 4rem;
                    margin-right: 2rem;
                    margin-bottom: 2rem;
                } 
            }
        }
    }
}