
.contribution-page {

    /* Page header */
    > header {

        padding: 10vh 0px;

        h1 { font-size: min(8vw, 3.2rem); }
        p { max-width: 70ch; }

    
    }

    /* Page */
    .contribution-page__section1 {

        .contribution-page__section1__content {

            margin: 5vh 0px;
            padding: 5vh 0px;
            border-top: 1px solid rgb(158, 158, 158);
            border-bottom: 1px solid rgb(158, 158, 158);
            background-color: #d9dde8;

            article { max-width: 80vh;}
            h2 { margin: 0px; }
     
        }
    }
}