/*


        ResetPassword component styling



*/

.resetPassword {

        
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 75vh;


    form {
        width: min(35rem, 95%);
        padding: 2rem;
        border: 1px solid var(--bs-secondary);
        h3 { margin-top: 0px; }
        p {
                color: rgb(111, 111, 111);
        }


    }

    input {
        background-color: rgb(245, 245, 245);
    }

    
}