/*

        Styling sheet 
        Inscription page 
        V.P.R. - 24/02/2022


*/

.inscription-page {
    width: min(35rem, 95%);

    form {
        padding: 2rem;
        border: 1px solid $secondary;
        h3 { margin-top: 0; }

        > *:not(button) {
            //width: 50%;
        }
    }
}