.account-page {
    /*
        Aside menu
    */
    li {
        cursor: pointer;
    }
}

.account-page-content {
    padding: 0 2rem;
}

.side-menu {
    padding: 0 1rem;
}

.user-card {
    display: flex;
    flex-direction: row;
    width:100%;
    min-height: 6rem;
}