/*

        Home page styling 
        Created : 13/04/2022 - V.P.R

*/

.home-page {

    /* First section */
    > section:nth-of-type(1) {

        min-height: 100vh;
        min-height: min(35rem, 100vh);
        position: relative;

        background-color: rgba(74, 61, 85, 0.5);

        h1 { margin-bottom: 0px; }

        .home-page__header--img-container {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;

            img {
                object-fit: cover;
                position: relative;
                width: 100%;
                height: 100%;
                opacity: 0.6;
                z-index: -1;
            }
        }
    }

    > .home-page__main {

        > div {

            margin-top: 5vh;

            /* 

                Section one  : 
                containing the news. 
            
            */

            > section {

                min-height: 60vh; /* Temporary value */

                

            }




            /* 
    
                Aside section : 
            
            */

            aside {


                min-height: 50vh; /* Temporary value */
                float: right;

                /*  
                
                    Every section in the aside block offers its own set of options
                    
                */

                /* Common styling for every section elements */
                > section {

                    padding: 1rem 0px;
                    border-top: 0.1rem solid rgba(128, 128, 128, 0.664);

                    h4 { 
                        margin: 0px;
                        margin-bottom: 1rem;
                    }

                    p { margin: 0px; }
                    
                }


                /*      

                    Differents sections and there specific styling

                */

                /* Rapid access to connection button  */
                .aside__connection-option {
                    > button { width: 100%; }
                }

                /* Account options : register */
                .aside__register-option {
                    
                    > div {
                        border-radius: 0.5rem;
                        padding: 1rem;

                        > button {
                            width: 100%;
                        }

                    }

                }

                /* Rapid options to access of edit the database */
                .aside__db-edit-options {

                    .db-edit-options__button-set {

                        margin-top: 0.5rem;
                        display: flex;
                        
                        > button:first-of-type {
                            flex:1;
                            margin-right: 0.5rem;
                        }
                    }  
                }



            }




        }
    }
}