/*

        Home page styling 
        Created : 13/04/2022 - V.P.R

*/

.home-page {

    padding-bottom: 7rem;

    /* First section */
    > section:nth-of-type(1) {

        min-height: 100vh;
        min-height: min(35rem, 100vh);
        position: relative;

        background-color: rgba(200, 129, 202, 0.507);

        display: flex;
        align-items: center;

        h1, h3 { 
            margin: 0px; 
            position: relative;
        }

        h3 { margin-top: 1rem;}

        .home-page__header--img-container {
            position: absolute;
            top: 0px;
            right: 0px;
            width: 50%;
            height: 100%;
            overflow: hidden;
            

            img {
                position: relative;
                height: 100%;
                width: auto;
                float: left;
            }
        }
    }

    > .home-page__main {

        > div {

            margin-top: 5vh;

            /* 

                Section one  : 
                FEED SECTION
            
            */

            > .home-page__feed-section {

                min-height: 60vh; /* Temporary value */

                article.home-page__feed-elem {
                    float: left;
                    position: relative;
                    width: 100%;
                    padding: 1rem;
                    padding: max(2vw, 1rem);
                    background-color: grey;
                }

            }




            /* 
    
                Aside section : 
            
            */

            aside {


                min-height: 50vh; /* Temporary value */
                float: right;

                /*  
                
                    Every section in the aside block offers its own set of options
                    
                */

                /* Common styling for every section elements */
                > section {

                    padding: 1rem 0px;
                    border-top: 0.1rem solid rgba(128, 128, 128, 0.664);

                    h4 { 
                        margin: 0px;
                        margin-bottom: 1rem;
                    }

                    p { margin: 0px; }
                    
                }


                /*      

                    Differents sections and there specific styling

                */

                /* Rapid access to connection button  */
                .aside__connection-option {
                    > button { width: 100%; }
                }

                /* Account options : register */
                .aside__register-option {
                    
                    > div {
                        border-radius: 0.5rem;
                        padding: 1rem;

                        > button {
                            margin-top: 1rem;
                            width: 100%;
                            border: 0.15rem white solid;
                        }

                    }

                }

                /* Rapid options to access of edit the database */
                .aside__db-edit-options {

                    .db-edit-options__button-set {

                        margin-top: 0.5rem;
                        display: flex;
                        
                        > button:first-of-type {
                            flex:1;
                            margin-right: 0.5rem;
                        }
                    }  
                }
            }
        }
    }
}