/*


    Basic styling for the page dedicated to confirm the creation of an account


*/

.compteConfirmePage {

    
    width: 100%;
    float: left;
    min-height: 90vh;

    display: flex;
    align-items: center;
    justify-content: center;

}