/*


    Basic styling for the page dedicated to confirm the creation of an account


*/

.compteConfirmePage {

    display: flex;
    align-items: center;
    justify-content: center;

    min-height: 90vh;

}