.message-component {
    --messageColor: #{$red};
    --toasting-duration: 700ms;
    --toasting-animation-curve: #{$toast-easing};
    --toasting-position: 1;
    --toasting--from-position: -100%;

    &.positive {
        --messageColor: #{$success};
    }

    &.negative {
        --messageColor: #{$danger};
    }

    &.info {
        --messageColor: #{$info};
    }
    &.warning {
        --messageColor: #{$warning};
    }
    &.primary {
        --messageColor: #{$primary};
    }
    &.secondary {
        --messageColor: #{$secondary};
    }

    margin-top: 2.5vw;
    margin-right: 2.5vw;
    width: 20rem;
    width: min(20rem, 95vw);
    box-shadow: $default-box-shadow-over;
    background-color: var(--messageColor);
    padding: 2rem;
    border-radius: $border-radius;
    z-index: 1000;
    color: $body-color;
    pointer-events: auto;

    @include transition();

    p {
        margin: 0;
    }

    &.show-message {
        animation: show var(--toasting-duration) var(--toasting-animation-curve) forwards;
    }

    &.hide-message {
        animation: hide var(--toasting-duration) var(--toasting-animation-curve) forwards;
    }

    .xbutton {
        position: absolute;
        top: -0.5rem;
        right: -0.5rem;
        font-weight: 900;
        font-size: 1rem;
        background-color: $white;
        border-radius: 1rem;
        padding: 0.25rem;
        height: 2rem;
        width: 2rem;
        text-align: center;
        color: var(--messageColor);
        cursor: pointer;
    }

    @keyframes show {
        from {
            opacity: 0;
            transform: translateY(-100%);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes hide {
        from {
            opacity: 1;
            transform: translateY(0);
        }
        to {
            opacity: 0;
            transform: translateY(-100%);
        }
    } /*

    @keyframes show {
        from {
            opacity: 0;
            transform: translateY(calc(var(--toasting-position) * -100%));
        }
        to {
            opacity: 1;
            transform: translateY(calc(var(--toasting-position) * 100%));
        }
    }

    @keyframes hide {
        from {
            opacity: 1;
            transform: translateY(calc(var(--toasting-position) * 100%));
        }
        to {
            opacity: 0;
            transform: translateY(calc(var(--toasting-position) * -100%));
        }
    }*/
}
