/*

    This file define a general style for the page when there is 
    a single person to display

*/

.single-person {

    float: left;
    width: 100%;
    padding: 10vh 0px;
    padding: clamp(4rem, 4%, 10rem) 0px;

}

