.button {
    /* Shapes of the button */

    &.button--small {
        font-size: 0.8rem;
    }

}

/*
*
*       !!!! Option not functional yet
*
*/
.ripple {

    --circle-size: 5ch;
 
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    width: var(--circle-size);
    height: var(--circle-size);
    border-radius: 50%;
    pointer-events: none;

    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    opacity: 0.3;

}









