
.rich-textarea {

    float: left;

    /*  Transition for the styling */
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;

    .rich-textarea__quill-container {

        .rich-textarea__quill-content  {
            padding: 0.5rem;
            width: 100%;
    
            > * {
                width: 100%;
                width: min(100%, 50ch);
            }
    
            /*
            Override some default styling of the input element 
            */
    
            /* variable to set equally the padding */
            --inputPadding: 0.75em;
    
            background-color: whitesmoke;
            border: unset;
            color: unset;
            padding: var(--inputPadding) 0px;    
    
    
            &.control--invalid {
                border-top: 0.1rem solid rgb(255, 135, 135) !important;
                border: 0.1rem solid rgb(255, 135, 135);
            }
        }
    }  
}