/*

    Page main header stylings
    V.P.R.

    created on 15/10/2021

*/

.header {

    --navigation-options-with: calc(15vw + 10rem); //Pretending enough browsers supports it

    height: var(--headersHeight);
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0px; 
    left: 0px;
    right: 0px;
    z-index: $zindex-fixed;
    transition: 0.3s ease-out; 

    &.account-bar {
        height: calc(var(--headersHeight) + 2rem);
        .navButton { top: 2rem; }
    }

    &.scroll-inner-page {
        background-color: $primary_2;
        height: 4em;
    }

    /* Title container where is putted the logo */
    .header__content {
        width: 100%;
        //height: var(--headersHeight);

        img {
            cursor: pointer;
            width: 100%;
            max-width: 236px;
            height: 100%;
            max-height: 2.5rem;
            object-fit: contain;
            object-position: left center;
        }
    }

    .item-displayed-in-menu {
        position: relative;
        z-index: $zindex-fixed;
    }

    .searchbar-menu-container {
        position: relative;
        display: flex;
        height: 100%;
        background-color: transparent;
    }

    .navigation-options {
        /* Align the hamburger menu in the center */
        display: flex;
        align-content: center;
        position: absolute;
        right: 0;
        top: 0;
        height: 5em;

        .connection-menu-container {
            width: 15rem;
            height: 100%;
            display: flex;
            background-color: transparent;
            justify-content: center;
            align-items: center;
            color: white;

            a {
                margin: 1rem;
            }
        }

        .contribute-menu-container {
            position: relative;
            width: 5rem;
            height: 100%;
            background-color: transparent;

            /* Align center */
            display: flex;
            justify-content: center;
            align-items: center;

            a {
                padding: 1.5rem;
                color: $light;
                opacity: 0.75;
                font-size: 1.8rem;
                -webkit-transition: opacity 200ms;
                -moz-transition: opacity 200ms;
                -o-transition: opacity 200ms;
                transition: opacity 200ms;

                &:hover {
                    opacity: 1;
                }

                svg {
                    width: 100%;
                }
            }
        }
    }

    .account-menu-container {
        position: relative;
        max-width: 5rem;
        width: 5rem;
        height: 100%;
        overflow: hidden;

        .account-menu-container__button {
            height: var(--headersHeight);
            width: 100%;
            fill: white;

            &:hover {
                opacity: 1;
            }

            svg {
                width: 100%;
            }

            .user-img {
                object-fit: cover;
            }
        }
    }

    /* Blue button to open the nav */
    .ham-menu-container {
        /* Align the hamburger menu in the center */
        display: flex;
        align-content: center;
        height: 100%;
        width: 7vw;
    }
}