.legal-page {
  h2 {
    padding-top: 1em;
    margin-top: 1em;
    border-top: $border-width $border-style $light;
  }
  h3 {
    padding-top: 0.5em;
    margin-top: 0.5em;
  }
  ul {
    padding: 1em;
    li {
      list-style: circle;
      padding: 0.5em 0;
    }
  }
}