/*  

    Global layout stylings

*/
#layout{

    width: 100%;
    min-height: 100vh;

    /* Message section */
    .message-section {
        position: fixed;
        top: 0px;
        right: 0px;
        display: flex;
        flex-direction: column;
        z-index: 1021;
    }

    .main-container-min-height {
        min-height: 90vh;
    }
}