/*  

    Global layout stylings

*/
#layout {
    width: 100%;
    min-height: 100vh;

    /* Message section */
    .message-section {
        position: fixed;
        top: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        z-index: $zindex-tooltip;
        pointer-events: none;
    }

    .main-container-min-height {
        min-height: 90vh;
    }
}
