/*
    Overrides default variables of React-Bootstrap to fit the custom style
    01Hub - 08/08/2022
*/

//colors
$blue: #455ae6; // Avantage numérique's mainBlue (and blue1)
$blue2: #4d64ff; // Avantage numérique's mainBlue (and blue2)
$blue3: #4dc4ff; // Avantage numérique's mainBlue (and blue3)
$blue4: #5f71ea; // Avantage numérique's mainBlue (and blue4)
$green1:  #adc9b0; //Light green
$green2:  #7ba076; 
$green3:  #364637; //Darkgreen
$pink: #c881ca;
$pink-100: lighten($pink, 80%);
$red: #dd5c5c;  // Avantage numérique's red
$red-ligth: #ff9e9e;  // Avantage numérique's red
$purple-light: #b2b2eb;
$purple-lighter: lighten($purple-light, 12%);

//Taxonomies colors
$green-accepted: green;
$yellow-pending: yellow;
$red-rejected: red;
$grey-deprecated: grey;
$occupations:rgba(56, 208, 235, 0.647);
$skills:rgba(56, 235, 137, 0.647);
$domains:rgba(235, 56, 137, 0.647);
$abilities:rgba(233, 165, 17, 0.647);
$general-tag:rgba(148, 148, 148, 0.392);


$grey: #bbbfd7;
$mild-dark: #606060; // Avantage numérique's input labels
$dark: #292929;
$light: lighten($grey, 30%);
$white: #FEFEFE;
$black: #010101;

//Inputs variables
$selected-input: #455ae6;

$theme-colors:(
    "primary": $blue,
    "primaryligth": $purple-light,
    "secondary": $grey,
    "purplelight": $purple-light,
    "purplelighter": $purple-lighter,
    "pink": $pink,
    "pink-100": $pink-100,
    "blue2": $blue2,   // Avantage numérique's altBlue (and blue2) rgb(77, 100, 255)
    "blue3": $blue3,   // Avantage numérique's blue3 rgb(77, 196, 255)
    "blue4": $blue4,   // Avantage numérique's blue4 rgb(95, 113, 234)
    "danger": $red-ligth,
    "dark": $dark,
    "light": $light,
    "white":$white,
    "black":$black,

    "success": $green2,
    "successlighter": $green1,
    "successDarker": $green3,
    
    //Taxonomies
    "accepted":$green-accepted,
    "pending":$yellow-pending,
    "rejected":$red-rejected,
    "deprecated":$grey-deprecated,
    "occupations":$occupations,
    "skills":$skills,
    "domains":$domains,
    "abilities":$abilities,
    "general-tag":$general-tag,
    
);


$body-color: $dark;

$min-contrast-ratio: 4.5;

//fonts
$font-size-root: 16px;//moved from 14px to 16px font base size.
//$font-family-base: 'Open Sans', sans-serif;
$font-family-base: 'SuisseIntl','Helvetica Neue','Helvetica','Arial',sans-serif;

$line-height-base: 1.4;

$headings-font-family: 'SuisseIntl','Helvetica Neue','Helvetica','Arial',sans-serif;
$headings-line-height: 1.1;
$headings-font-weight: 600;

$h1-font-size:                min(10vw, 4rem) !default; //older brower 4rem              ///original      $font-size-base * 2.5 !default;
$h2-font-size:                min(8vw, 2.5rem) !default;
$h3-font-size:                1.75rem !default;
$h4-font-size:                1.1rem !default;
$h5-font-size:                1rem !default;
$h6-font-size:                0.8rem !default; //this is smaller than regular text


$link-decoration: none;

$border-radius: 0.5em;
//to-do; transpose value from rem to em (only one button radius is used in the app for now.
// $border-radius-sm:            .25rem !default;
// $border-radius-lg:            .5rem !default;
// $border-radius-xl:            1rem !default;
// $border-radius-2xl:           2rem !default;
// $border-radius-pill:          50rem !default;

/*
    bootstrap's variable button override
*/
$btn-padding-x-lg: 4rem;
$btn-padding-y-lg: 2rem;
$btn-font-size-lg: 1rem;
$btn-border-radius-lg: 4px;


