/*


    Global styles applicable to every pages
    V.P.R - 20/09/2021


*/

/*
*
  Global variables of the platform
*
*/

:root {
  /* Maximum width the content of the page can take */
  --max-width-page-content: 1200px;

  /* Header's height.  */
  --headersHeight : 6em;

  /* Main color of the web site (blue) 
      Hexa : #455ae6
  */
  --mainBlue: rgb(69, 90, 230);


  /* 
    Secondary colors 
        Hexa ;
            --altBlue: #4d64ff;
            --grey: #bbbfd7;
  */
  --altBlue: rgb(77, 100, 255);
  --grey: rgb(187, 191, 215);

  /* Dark color for the text and background-colors 
         Hexa : #212121;
  */
  --dark: rgb(33, 33, 33);

  /* Main font */
  --generalFont: 'Open Sans', sans-serif;
  --titleFont: 'Yeseva One';



}

html,
body {
  padding: 0;
  margin: 0;

  /* Default font */
  font-family: var(--generalFont);

  /* Default text size */
  font-size: 14px;

  /* Default color */
  color: var(--dark);


}

* {
  box-sizing: border-box;
}

/*
*
*   Font settings
*
*/

h1, h2, h3 {
  font-family: var(--titleFont);
}

h4, h5, h6 {
  font-weight: 700;
}

h1 { font-size: 3em;}
h2 { font-size: 2em;}
h3 { font-size: 1.5em;}
h4 { font-size: 1.25em;}



/*
*
*    Colors settings
*
*/

/* blue color */
.blue { color: var(--mainBlue); }
.blue_BG { background-color: var(--mainBlue); }

/* Secondary color */
.sec-color { color: var(--altBlue);}
.sec-color_BG { background-color: var(--altBlue); }

/* grey */
.grey { color: var(--grey);}
.grey_BG { background-color: var(--grey); }

/* White color */
.white { color: white; }

/* Dark color */
.dark { color: var(--dark); }
.dark_BG { background-color: var(--dark); }

.cursorPointer { cursor: pointer; }
.commonRadius { border-radius: 2em; }

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

/**
*   Remove de the bullet
*/
li { list-style-type: none;}

/*
  Remove automatic padding
*/
ul {padding: 0px;}

/*
*   Container that defines the Maximum width the content of the page can take
*/

.maxWidthPageContainer {
  max-width: var(--max-width-page-content);
  margin: auto;
  padding: 0px 3em;
}


/*
*   responsive width classes
*
*   By default, it assumed to be a small size screen
*/

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {width: 100%; float: left;}

/*
  Remove some default styling of the button element
*/
button {
  background: unset;
  border: unset;
  cursor: pointer;
  padding: 0px;
}

/*
 Override some default styling of the input element 
*/

input {

  /* variable to set equally the padding */
  --inputPadding: 0.75em;

  background-color: unset;
  border: unset;
  color: unset;
  padding: var(--inputPadding) 0px;

  /* submit buttons */
  &[type='submit']{ 
    cursor: pointer; 
    padding: var(--inputPadding);
    margin: 0px 0.25em;
  }
}

/* text areas which are not submit buttons */
input:not([type='submit']), textarea{
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(255,255,255,0.5);
  transition: 0.2s;

  &:focus{
    border-bottom-color: rgba(255,255,255,1);
  }
}

input:focus, textarea:focus, select:focus{
  outline: none;
}


/*
*
*
*     Media queries for responsive design
*
*
*
*/


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

  /*
      Normal width of the col classes 
  */

  .col-1 {width: 8.33%; float: left;}
  .col-2 {width: 16.66%; float: left;}
  .col-3 {width: 25%; float: left;}
  .col-4 {width: 33.33%; float: left;}
  .col-5 {width: 41.66%; float: left;}
  .col-6 {width: 50%; float: left;}
  .col-7 {width: 58.33%; float: left;}
  .col-8 {width: 66.66%; float: left;}
  .col-9 {width: 75%; float: left;}
  .col-10 {width: 83.33%; float: left;}
  .col-11 {width: 91.66%; float: left;}
  .col-12 {width: 100%; float: left;}

}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
     
}

/* Extra large devices (large laptops and desktops, 1500px and up) */
@media only screen and (min-width: 1500px) {
     
}