/*
    Legacy global styles applicable to every pages waiting to be refactored or adapted to Bootstrap
*/

/*:root {
    //Common border radius through the website
  --commonRadius: 1.5em;
}

.commonRadius { border-radius: var(--commonRadius); } //only used in the documentation page, do we need this?
*/

/*
*
*   Font settings
*
*/

h4,
h5,
h6 {
    font-weight: $font-weight-bold;
}

p {
    a:not(.btn) {
        color: $primary; /* question posée dans Notion ?  */
        @include transition();
        text-decoration: none;
        &:hover {
            color: $primarylight;
            text-decoration: underline;
        }
    }
}


/*
*   Container that defines the Maximum width the content of the page can take
*/
.maxWidthPageContainer { /* TODO switch to Bootstrap's grid method (container > row > col) */
    max-width: var(--max-width-page-content);
    margin: auto;
    padding: 0 min(3rem, 4vw);
}

/*
  Line class for the design lines added to pages
*/
.line{ /* TODO to componentize  */
    height: 0.4rem;
    float: left;
    margin: 0.15rem 0.7rem 0.15rem 0;
    border-radius: 0.2rem;
    /* Every line will have a width and color precised to it */
}

/*
 *  Remove and add some default styling of the button element
 */
 button { /* TODO to componentize */
    background: unset;
    border: unset;
    padding: 0;
}


/***
* (start) TODO to refactor using Bootstrap's form-control https://react-bootstrap.github.io/forms/form-control/ & move to FormElements > Input
***/
input {
    /* variable to set equally the padding */
    --inputPadding: 0.75em;

    background-color: unset;
    border: unset;
    color: unset;
    padding: var(--inputPadding) 0;

    /* submit buttons */
    &[type='submit']{
        cursor: pointer;
        padding: var(--inputPadding);
        margin: 0 0.25em;
    }
}

/* text areas and input which are not submit buttons */
input:not([type='submit']),
textarea {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(255,255,255,0.5);
    transition: 0.2s;

    &:focus{
      border-bottom-color: rgba(255,255,255,1);
    }
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
}