/*
    Global styles applicable to every pages
*/

:root {
  /* Maximum width the content of the page can take */
  --max-width-page-content: 85rem;
  /* Header's height.  */
  --headersHeight : 5em;

}

.cursorPointer { cursor: pointer; }

/**
*   Remove de the bullet
*/
li { list-style-type: none;} /* TODO should use Bootstrap's "list-unstyled" class on <ul> */

/*
  Remove automatic padding
*/
ul {padding: 0px;} /* TODO switch to Bootstrap's vertical nav component */


/*
  Define custom button style for Bootstrap components
*/
.btn-lg {
  font-weight: 600;
  border-width: 0.15rem;
}

.btn-sm{
  --bs-btn-font-size:1em;
  --bs-btn-border-radius:0.5em;
  --bs-btn-padding-x:0.75rem;
}

.btn.disabled,
.btn:disabled,
fieldset:disabled .btn
:not(.btn-check) + .btn:disabled:hover,
.btn:first-child:disabled:hover,
:not(.btn-check) + .btn:active:disabled,
.btn:first-child:active:disabled{

  pointer-events: auto;
  cursor: not-allowed;
  filter:none;

  --bs-btn-disabled-bg: #CCCCCC;
  --bs-btn-disabled-border-color: #CCCCCC;
  --bs-btn-disabled-color: #979797;
  --bs-btn-hover-color: #979797;
  --bs-btn-hover-bg: #CCCCCC;
  --bs-btn-hover-border-color: #CCCCCC;
  --bs-btn-active-color:#979797;
  --bs-btn-active-bg:#CCCCCC;
  --bs-btn-active-border-color:#CCCCCC;

}

/*
 Override some default styling of the input element 
*/
label {
  color:  $mild-dark;
}


/*
  Add custom minimum width to Bootstrap's containers 
*/
@each $breakpoint in sm, md, lg, xl, xxl { 
  @media (min-width: map-get($grid-breakpoints, $breakpoint)) { 
    .header-center {
      min-width: map-get($container-max-widths, $breakpoint);
    }
  }
}

