$blue: rgb(69, 90, 230); // Avantage numérique's mainBlue (and blue1)
$red: rgb(221, 92, 92); // Avantage numérique's red

$theme-colors:(
    "primary": $blue,
    "blue2": #4d64ff, // Avantage numérique's altBlue (and blue2) rgb(77, 100, 255)
    "blue3": #4dc4ff, // Avantage numérique's blue3 rgb(77, 196, 255)
    "blue4": #5f71ea, // Avantage numérique's blue4 rgb(95, 113, 234)
    "dark": #212121,
    "danger": $red,
);

@import "~bootstrap/scss/bootstrap";
@import './globals.scss';
@import './layout-components/header.scss';