.create-person-form {

    position: relative;

    label {

        font-weight: 600;
        > * { font-weight: normal; }

    }

    /*

        The direct children of this form element are fields elements

    */

    > * {
        margin-bottom: 1rem;

        &:not(button){
            width: 100%;
        }
    }

    
}

/*
    Modal to create a new taxonomy before adding a person
*/
.taxonomy-modal{
    > * {
        float: left;
        width: 100%;
    }

    h3 { 
        color: var(--blue4); 
        margin-top: 0px;
    }

    p { margin: 0px; }

    .hor-line{
        width: 100%;
        float: left;
        margin: 1rem 0px;
        border-bottom: 0.05rem solid rgba(128, 128, 128, 0.425);
    }
}

/* On screens that are 600px or more, set the background color to blue */
@media screen and (min-width: 600px) {
    .create-person-form {
        /*
            Specific sizes for the two fields firstname and lastname
        */
        [for="lastName"], 
        [for="firstName"] {
            width: 48%;
            width: calc(50% - 1rem);
        }

        [for="lastName"], 
        [for="firstName"] & :last-of-type{
            float: right;
        }

    }
  }