#pageFooter {

    background-color: $primary_2;
    --footer-vertical-paddings: clamp(0.5rem, 2vh, 2rem);

    .main-logo--container {
        img { 
            max-width: clamp(8rem, 10vw, 15rem); 
            padding: var(--footer-vertical-paddings) 0px;
        }
    }

    .secondary-logo--container {
        img { 
            width: clamp(15rem, 15vw, 23rem); 
            padding: var(--footer-vertical-paddings) 0px;
        }
    }

    /* Social media logos container   */
    .socialMediaLogos{

        padding: var(--footer-vertical-paddings) 0px;

        /* Individual social media logo */
        .socialMediaLogo {
            display:inline-block;
            margin: 0.25em 0.5em;

            svg{
                height:2em;
                width:2em;
            }
        }


        /* Class to specify which path element will change of color  */
        .colorTransition{
            fill: $primary-dark;
            -webkit-transition: fill 0.2s ease-out;
            -moz-transition: fill 0.2s ease-out;
            -o-transition: fill 0.2s ease-out;
            transition: fill 0.2s ease-out;
        }

        /* Classes to specify the specifics colors of the logos */
        .FacebookLogo:hover{ .colorTransition{ fill: #1778f2;}  }
        .InstagramLogo:hover{ .colorTransition{ fill:  #F58529; }  }
        .YoutubeLogo:hover{ .colorTransition{ fill: #FF0000}  }

    }
}
