.update-teams {


    .team-member-row {

        border-color: rgb(231, 231, 231);
        border-width: 0px;
        border-bottom-width: 0.1rem;
        border-top-width: 0.1rem;
        border-style: solid; 
    }
}