/*
*
*       Styling for the page createPerson 
*       /contribuer/personne
*
*/

.create-person {



    .create-person--max-width {
        
        margin: auto;
        max-width: 70ch;
        width: 100%;

    }

    .create-person__return-button {
        margin-top: 5vh;
        button { float: right; }
    }

    header {

        h1 {  margin: 0px; }
        h4 { 
            
            margin: 0px 0px 1rem 0px; 
            color: rgba(83, 83, 83, 0.651);

        }

        padding: 10vh 0px;

    }

    section {
        background-color: rgba(193, 201, 236, 0.178);
        padding: 5vh 0px;
    }


}