
.card {

    -webkit-box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.2); 
    box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.2);
    border-radius: 0.5rem;
    //Border radius bootstrap variable to integrate

    .card__header-container {
        
        /* Waiting for a way to use bootstrap variables */
        h5 {
            color: rgb(122, 122, 163);
        }

    }

    .card__img-container {

        position: relative; 
        min-height: 15rem;
        max-height: 30rem;
        height: 35vh;  
        //border-radius: var(--$border-radius);



        .card__img-container__img {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: 0; 
        }

    }

    .card__content {

        h3 {
            font-size: 1.5rem;
            //While wating for bootstrap variables
            color: rgb(118, 118, 161);
        }

        .card__content__single-info {
            p { 
                margin: 0; 
                /* Waiting for bootstrap variables */
                color: rgb(78, 78, 78);
            }
        }
    }
    



}