.person-view {

}
.occupation-group {

}
.occupation-group-border-hardcoded {
    border-top: 0.05rem solid rgba(128, 128, 128, 0.178);
    border-bottom: 0.05rem solid rgba(128, 128, 128, 0.178);
}

.skill-tag {
    background-color: lighten($dark, 75%);
}